### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Jetbrains IDEs
.idea/

# Related to Philo
copierv1.py
compiled_code.txt


/frontend/reporter/node_modules/
frontend/reporter/dist/
frontend/reporter/.env.local
frontend/reporter/.next/
frontend/reporter/output/
frontend/reporter/build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.prettierrc